{% from 'macros.html' import header, footer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duck Secret Shortener</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
{{ header() }}
<div class="content" style="color:white">
    <form action="/report" class="form-inline centered" method="post">
        <h1>Report abuse links here</h1>
        <h3>Our administrator will review your report as soon as possible!</h3>
        <input name="link" type="text" placeholder="Enter link">
        <button type="submit">Report</button>
        <div class="captcha-box">
            <div class="g-recaptcha" style="padding: 20px" data-theme="dark"
                 data-sitekey="{{ site_key }}"></div>
        </div>
        <p class="result">{{ result }}</p>
    </form>
</div>
{{ footer() }}
</body>
</html>